:root {
    --color-success: #28a745;
    --color-text-grey: #707070;
    --color-text-black: #212529;
    --color-text-white: #f8f9fa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

nav,
form {
    background-color: var(--color-success);
}
#logo {
    width: 25%;
}

@media screen and (max-width: 991px) {
    #logo {
        width: 100%;
    }
}

form {
    text-align: center;
    font-size: 3em;
}

.ofert {
    color: var(--color-success);
    font-size: 1.75rem;
}

.not-offer {
    font-size: 1rem;
    text-decoration: line-through;
}

.card-title {
    font-weight: 300;
}

.card-text {
    font-size: 1rem;
    font-weight: 300;
}
.address {
    font-size: 15px;
    font-weight: 300;
}

i {
    font-size: 15px;
}

p {
    margin: 0;
    font-size: 20px;
    color: var(--color-text-grey);
}
hr {
    color: var(--color-text-grey);
}
  
h4 {
    font-size: 1rem;
    font-weight: 300;
    color: var(--color-text-grey);
}

#logo-footer {
    width: 50%;
}

@media screen and (min-width: 991px) {
    #logo-footer {
        width: 20%;
    }
}
